.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
  align-items: center;
}

.messageTop.own {
  flex-direction: row-reverse;
}

.messageTopBadge {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.messageTopBadge.own {
  margin-left: 15px;
}

.messageTopText {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 330px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageTopText {
  background-color: #f5f4f4;
  color: black;
}

.messageBottom {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 60px;
}

.message.own .messageBottom {
  margin-right: 75px;
}
